@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e;
}

a {
    color: brown;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: greenyellow;
}

a:active {
    color: fuchsia;
}

a:visited {
    color: #86898f;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0;
}

.info-text h4 {
    margin-bottom: 10px;
}



.card-1 {
    background: rgb(150, 192, 150);
    border: 2px solid rgb(82, 103, 82);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.card-2 {
    background: rgb(209, 177, 177);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;

}

.card-3 {
    background: rgb(208, 218, 224);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;

}

.card-4 {
    background: rgb(214, 233, 118);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;

}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}


.card h2 {
    margin-bottom: 10px;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.avatar {
    width: 177px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px #00000040;

}

.btn {
    background: #0f141e;
    padding: 15px 20px;
    color: aliceblue;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: .7;
}

.list {
    padding: 0px 30px;
}

.list li {
    color: #0b8365;
    margin-bottom: 10px;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(138, 49, 49);
    padding-bottom: 5px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #737578;
}

.form h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(112, 50, 50);
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;

}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    display: inline-block;
    margin-right: 20px;
    width: 50%;
    /* width: calc(50%-20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}



@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}